HomeBankingSite/Web References/com.memberpay.www/singlesignon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CU_ID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="USER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ON_BEHALF_OF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ON_BEHALF_OF_CU" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateMember" />
  </wsdl:message>
  <wsdl:message name="AuthenticateMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="SingleSignOnSoap">
    <wsdl:operation name="AuthenticateMember">
      <wsdl:input message="tns:AuthenticateMemberSoapIn" />
      <wsdl:output message="tns:AuthenticateMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SingleSignOnSoap" type="tns:SingleSignOnSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateMember">
      <soap:operation soapAction="http://tempuri.org/AuthenticateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SingleSignOnSoap12" type="tns:SingleSignOnSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateMember">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SingleSignOn">
    <wsdl:port name="SingleSignOnSoap" binding="tns:SingleSignOnSoap">
      <soap:address location="https://www.memberpay.com/MemberBillPay/singlesignon.asmx" />
    </wsdl:port>
    <wsdl:port name="SingleSignOnSoap12" binding="tns:SingleSignOnSoap12">
      <soap12:address location="https://www.memberpay.com/MemberBillPay/singlesignon.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>